@use 'base/variables' as var;
@use 'base/mixins' as mix;
.paginacion{
    padding: var.$separacion 0;
    @include mix.telefono {
        display: flex;
        justify-content: space-between;
    }
    button{
        margin: 0 0 1rem 0;
    }
}

.ocultar{
    visibility: hidden;
}